# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment variables & secrets
.env

# IDE / Editor settings
.vscode/
.idea/